@page "/calc"
@using DataCore.Enums
@inherits LayoutComponentBase

<PageTitle>Calc</PageTitle>
<h1>Calculator</h1>

<div class="card mt-5" style="width: 25rem;">
    <div class="card-body">
        <EditForm Model="@CalcExpression">
            <ValidationSummary/>
            <div class="form-group">
                <label for="first">Number № 1:</label>
                <InputNumber id="first" @bind-Value="@CalcExpression.FirstNum" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="sign">Sign:</label>
                <InputSelect id="sign" @bind-Value="@CalcExpression.Sign" class="form-control">
                    <option value="@SignEnum.Addition">+</option>
                    <option value="@SignEnum.Subtraction">-</option>
                    <option value="@SignEnum.Multiplication">*</option>
                    <option value="@SignEnum.Division">/</option>
                </InputSelect>
            </div>
            <div class="form-group">
                <label for="second">Number № 2:</label>
                <InputNumber id="second" @bind-Value="@CalcExpression.SecondNum" class="form-control"/>
            </div>
        </EditForm>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">Total</div>
            <div class="col text-right">@CalcExpression.Calculate()</div>
        </div>
    </div>
</div>